name: tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.8, 3.7, 3.6, 3.5]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Run test suite
      run: |
        pip install -U pip wheel
        pip install cython
        pip install .
        python -m unittest discover -v
